#.gradle 文件夹，此文件夹是用来保存gradle的依赖信息
/.gradle

#local.properties 文件，是用来保存项目依赖信息
/local.properties

#.idea 文件夹，此文件夹是用来保存开发工具的设置信息。
/.idea

#所有的 build 文件夹，build文件夹是用来保存编译后的文件目录
/build
*/build

#所有的 .iml 文件，是用来保存开发工具信息。
*.iml

/gradle

.DS_Store
/captures
